.center
  .org-info
    = image_tag @organization.avatar_url, class: 'org_avatar'
    = @organization.name
    public members' wheelhouse
  - if @members.any?
    - @members.each do |member|
      .member
        .member-image
          = image_tag member.avatar_url, class: 'org_avatar'
        .member-content
          %h1= link_to member.github_login, member.profile_url
          .member-detail
            %p
              - if member.languages.any?
                - member.languages.each_with_index do |language, index|
                  = link_to language.name.to_s.downcase, organization_path(@organization, sort: language.name), class: "lang rank-#{index}"
              - else
                %i.fa.fa-cog.fa-spin
                Gathering language data. Please stand by.
  - else
    %p There are no public members for this organization.
