.center
  .org-info
    = image_tag @organization.avatar_url, class: 'org_avatar'
    = @organization.name
    public members
  - if @organization.members.any?
    - @organization.members.order('github_login').each do |member|
      .member
        .member-image
          = image_tag member.avatar_url, class: 'org_avatar'
        .member-content
          %h1= member.github_login
          .member-detail
            %p
              - member.languages.each_with_index do |language, index|
                %span.lang{class: "rank-#{index}"}
                  = language.name.to_s.downcase
  - else
    %p There are no public members for this organization.
