<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'github_badge' %>
  <div class="wrapper">
    <div class='center text-center text-big'>
      <h1>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-code-fork"></i> GitLingo</a>
      </h1>
    </div>
    <%= render "flashes" -%>
    <%= yield %>
  </div>
  <%= render "javascript" %>
</body>
</html>
